<ion-view view-title="">
  <style>
    #splash {
      background-color: white;
    }
    
    @media all and (orientation: portrait) {
      #splash {
        background-image: url('assets/images/splash-portrait.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      }
    }
    @media all and (orientation: landscape) {
      #splash {
        background-image: url('assets/images/splash-landscape.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      }
    }
  </style>
  <ion-content id="splash">
  </ion-content>
</ion-view>