<ion-scroll zooming="true" direction="xy" minZoom=".01" paging="false" locking="false" id="panel-background">
    <style>
        #panel-background {
            background-color: white;
        }
        #panel{
            color: white;
            background-color: black;
            width: 100%;
            height: 5000px;
            width: 2500px;
            zoom: .4;
            -webkit-text-size-adjust: none;
            text-size-adjust: none;
        }
        .panel-row {
            position: relative;
            display: inline-block;
            margin-left: 10px;
            padding-right: 10px;
            line-height: 70%;
        }
        .panel-column {
            position: relative;
            display: inline-block;
            margin-left: 10px;
            padding-right: 10px;
        }
        .panel-name {
            -webkit-text-size-adjust: none;
            font-size: 50%;
            color: white;
        }
    </style>

        #{{isShowing}}#
    <div id="panel" ng-if="isShowing" >
        <!--ddiv class="panel-row" 
            <iv class="panel-column" ng-repeat="vet in r track by $index" >
                <p class="panel-name"> * {{vet.wallName}} {{$parent.$index}},{{$index}} * </p>	
            </div> </div-->	
            <p ng-repeat="row in rows track by $index"
                style="text-align: {{justification}};">{{getRow(row)}}</p>
       
    </div>	
</ion-scroll>