<section id="panel-background">
	<style>
		#panel-background {
			width: 100%;
			height: 100%; 
			background-color: white;
		}
		#panel{
			color: white;
			background-color: black;
			width: 100%;
			height: 100%;
                        width: 2000px;
		}
		.panel-row {
			position: relative;
                        display: inline-block;
			margin: 10px;
			padding: 10px;
		}
		.panel-column {
			position: relative;
                        display: inline-block;
			margin: 10px;
			padding: 10px;
		}
		.panel-name {
			color: white;
		}
	</style>
<h1 class="panel-name">PANEL #{{vm.panelid}}</h1>
	<div id="panel" ng-if="vm.show()" >
		<div class="panel-row" ng-repeat="r in vm.WallService.rows track by $index">
			<div class="panel-column" ng-repeat="vet in r track by $index" >
				<h3 class="panel-name"> * {{vet.wallName}} {{$parent.$index}},{{$index}} * </h3>	
			</div>
                    
		</div>	
	</div>	
</section>